.navbar {
    background-color: var(--green-light);
    color: var(--dark-secondary);
    padding: 6px 0;
    font-size: 1.3rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
}